@model ICollection<ArticleShortListViewModel>
@{
    ViewData["Title"] = "All Articles";
}

@section Scripts {
    <script src="~/js/delete-modal.js"></script>
}

<br/>
<div class="row">
    <div class="col-sm-6">
        <h2>All Articles</h2>
    </div>
    <div class="col-sm-6">
        <a asp-area="Moderator" asp-controller="Articles" asp-action="Add" class="btn btn-outline-success btn-lg float-right">Add New</a>
    </div>

    <table class="table table-responsive-md table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created on</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td width="40%" id="item-description">
                        @article.Title
                    </td>
                    <td width="20%">
                        @article.AuthorName
                    </td>
                    <td width="20%">
                        @article.CreatedDate
                    </td>
                    <td width="10%">
                        <a asp-area="Moderator" asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-outline-info float-right">Edit</a>
                    </td>
                    <td width="10%">
                        <a id="deleteBtn-@article.Id" class="btn btn-outline-danger float-right">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_ConfirmDeleteModal")
</div>

