@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using MyMovieDb.Common.Constants
@model MovieDetailsViewModel
@{
    ViewData["Title"] = "Movie Details";
}

@section Styles {
    <link href="~/css/star-rating.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/rate-movie-modal.js"></script>
    <script>
        var userId = '@User.FindFirstValue(ClaimTypes.NameIdentifier)'
    </script>
}

@Html.HiddenFor(m => m.Id, new { id = "movieId" })

<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="text-center" id="movieTitle">@Model.Title</h1>
            <h6 class="text-center">Duration: @Model.DurationInMinutes minutes | Genres: @string.Join(", ", Model.Genres) | Year: @(Model.PremiereDate.Year != 1 ? Model.PremiereDate.Year.ToString() : "n/a")</h6>
        </div>
        <div class="col-sm-3 float-right">
            <h6>Average rating: <strong>@Model.AverageRating.ToString("F2")</strong></h6>
            <h6>From @Model.VotesCount votes</h6>
            @if (User.Identity.IsAuthenticated)
            {
                <button class="btn btn-outline-primary" id="rateMovieBtn">Rate</button>
            }
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img src="@(Model.CoverImageUrl ?? OtherConstants.NoImageAvailableRoute)" alt="Person photo" class="details-image" />
        </div>
        <div class="col-sm-9">
            <p>@Model.Description</p>
            <p>
                Directors:
                @foreach (var director in Model.Directors)
                {
                    <a asp-area="" asp-controller="People" asp-action="Details" asp-route-id="@director.Id">@director.Name</a>
                }
            </p>
            <p>
                Producers:
                @foreach (var producer in Model.Producers)
                {
                    <a asp-area="" asp-controller="People" asp-action="Details" asp-route-id="@producer.Id">@producer.Name</a>
                }
            </p>
            <p>
                Writers:
                @foreach (var writer in Model.ScriptWriters)
                {
                    <a asp-area="" asp-controller="People" asp-action="Details" asp-route-id="@writer.Id">@writer.Name</a>
                }
            </p>
        </div>
    </div>
    <br />
    <div class="col-sm-12 row">
        <iframe width="1000" height="562" src="https://www.youtube.com/embed/@Model.TrailerYoutubeId" allowfullscreen></iframe>
    </div>
    <br />

    <h2>Cast:</h2>
    <hr />

    @foreach (var actor in Model.Actors)
    {
        <div>
            <img src="@(actor.PhotoImageUrl ?? OtherConstants.NoPersonPhotoAvailableRoute)" class="search-result" />
            &nbsp;<a asp-area="" asp-controller="People" asp-action="Details" asp-route-id="@actor.Id">@actor.Name</a>
            <hr />
        </div>
    }

    @Html.Partial("_RateMovieModal")
</div>