@using MyMovieDb.Common.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Movie DB</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select-1.13.1/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">MyMDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">

            <form asp-area="" asp-controller="Search" asp-action="Results" method="post" class="form-inline my-2 my-lg-0">
                <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-yellow my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ml-auto">
                @if (User.IsInRole(AppRoles.Admin))
                {
                    <partial name="_AdminNavbarPartial" />
                }
                @if (User.IsInRole(AppRoles.Admin) || User.IsInRole(AppRoles.Moderator))
                {
                    <partial name="_ModeratorNavbarPartial" />
                }

                <li class="nav-item dropdown">
                    <partial name="_LoginPartial" />
                </li>
            </ul>

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    @if (TempData.ContainsKey(Constants.MessageText) && TempData.ContainsKey(Constants.MessageType))
    {
        <div class="col-sm-offset-3 col-sm-6 message-container">
            <message type="@TempData[Constants.MessageType]" message="@TempData[Constants.MessageText]"></message>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - MyMovieDb</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-select-1.13.1/dist/js/bootstrap-select.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
