@using MyMovieDb.App.Helpers
@using MyMovieDb.Common.Enums
@model MovieBindingModel
@{
    ViewData["Title"] = "Edit Movie";
}

@section Scripts{
    <script>
        var selectedGenresIdsStr = '@String.Join(" ", Model.SelectedGenresIds)';
        var selectedActorsIdsStr = '@String.Join(" ", Model.SelectedActorIds)';
        var selectedDirectorsIdsStr = '@String.Join(" ", Model.SelectedDirectorIds)';
        var selectedProducersIdsStr = '@String.Join(" ", Model.SelectedProducerIds)';
        var selectedWritersIdsStr = '@String.Join(" ", Model.SelectedScriptWriterIds)';
    </script>
    <script src="~/js/edit-movie.js"></script>
}

@{
    var genresList = Model.AllGenres
        .OrderBy(g => g.Description)
        .Select(g => new SelectListItem
        {
            Text = g.Description,
            Value = g.Id.ToString()
        })
        .ToList();

    var peopleList = Model.AllPeople
        .OrderBy(p => p.FullName)
        .Select(g => new SelectListItem
        {
            Text = g.FullName,
            Value = g.Id.ToString()
        }).ToList();
}

<br />
<h4>Edit Movie</h4>
<hr />
<form method="post" asp-area="Moderator" asp-controller="Movies" asp-action="Edit">
    <div class="row">
        <div class="col-sm-6">
            @Html.FormGroupFor(m => m.Title)
            @Html.FormGroupFor(m => m.CoverImageUrl)
            @Html.FormGroupFor(m => m.TrailerYoutubeId)
        </div>
        <div class="col-sm-6">
            @Html.FormGroupFor(m => m.DurationInMinutes)
            @Html.FormGroupFor(m => m.PremiereDate)
            @Html.FormGroupFor(m => m.DvdReleaseDate)

            @Html.LabelFor(m => m.Status)
            @Html.DropDownListFor(
                m => m.Status,
                Html.GetEnumSelectList<MovieStatus>(),
                "",
                new { @class = "form-control" })
            <br />
        </div>
        <div class="col-sm-12">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 8 })
        </div>

        <div class="col-sm-6">
            @Html.MultiselectDropDownListFor(m => m.SelectedGenresIds, genresList, "genresDD")
            @Html.MultiselectDropDownListFor(m => m.SelectedActorIds, peopleList, "actorsDD")
            @Html.MultiselectDropDownListFor(m => m.SelectedDirectorIds, peopleList, "directorsDD")
            @Html.MultiselectDropDownListFor(m => m.SelectedProducerIds, peopleList, "producersDD")
            @Html.MultiselectDropDownListFor(m => m.SelectedScriptWriterIds, peopleList, "writersDD")
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Edit</button>
    <a asp-area="Moderator" asp-controller="Movies" asp-action="All" class="btn btn-outline-secondary">Cancel</a>
</form>

