@using MyMovieDb.App.Helpers
@using MyMovieDb.Common.Enums
@model PersonBindingModel

@{
    ViewData["Title"] = "Delete Person";
}
@section Scripts {
    <script src="~/js/disable-form.js"></script>
}

<br />
<h4>Delete Person</h4>
<hr />
<form method="post" asp-area="Moderator" asp-controller="People" asp-action="Delete">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-sm-6">
            @Html.FormGroupFor(m => m.FirstName)
            @Html.FormGroupFor(m => m.LastName)
            @Html.FormGroupFor(m => m.Alias)
        </div>
        <div class="col-sm-6">
            @Html.FormGroupFor(m => m.DateOfBirth)
            @Html.FormGroupFor(m => m.PlaceOfBirth)

            @Html.LabelFor(m => m.Gender)
            @Html.DropDownListFor(
                m => m.Gender,
                Html.GetEnumSelectList<Gender>(),
                "",
                new {@class = "form-control"})
        </div>
    </div>
    @Html.FormGroupFor(m => m.Biography)
    @Html.FormGroupFor(m => m.PhotoImageUrl)

    <div class="col-sm-3">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        <a asp-area="Moderator" asp-controller="People" asp-action="All" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>